.bloop/
.bsp/
.cache
.cache-main
.cache-tests
.classpath
.history
.idea
.iml
.metals/
.settings/org.scala-ide.sdt.core.prefs
.vscode/
.worksheet/src/test.scala
*.DS_Store
*.iml
*/.project
\.jardesc$
^MANIFEST\.MF$
bin
lib/cplex.jar
lib/gurobi.jar
lib/scalatest-1.6.1.jar
LPParam.ini
oscar.eml
project/metals.sbt
project/project
syntax: glob
syntax: regexp
target/
